<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee data</title>
    <link rel="stlyesheet" href="{% static 'MyApp1/css/Emp.css' %}>
</head>
<body>
     <h>Employee info</h>
     <table border="1">
       <thead>
         <th>EMPNO</th>
         <th>EMPNAME</th>
         <th>SALARY</th>
         <th>DEPTNO</th>
       </thead>
       {% for emp in employee%}
         <tr>
           <td>{{emp.empno}}</td>
           <td>{{emp.ename}}</td>
           <td>{{emp.salary}}</td>
           <td>{{emp.deptno}}</td>
         </tr>
       {% endfor %}
     </table>

</body>
</html>
